
.box1{
    padding: 20px;
    background-color: rgb(103, 134, 235);
}
.box3{
    padding: 20px;
    background-color: rgb(239, 102, 195);
}
.box2{
    padding: 20px;
    background-color: rgb(163, 249, 146);
}
#tap1{
    background-color: rgb(164, 198, 229);
}
#tap2{
    background-color: rgb(164, 198, 229);
}
#tap6{
    background-color: rgb(244, 163, 202);
}
#tap7{
    background-color: rgb(244, 163, 202);
}
#tap8{
    background-color: rgb(244, 163, 202);
}
#tap3{
    background-color: rgb(102, 243, 87);
}
#tap4{
    background-color: rgb(102, 243, 87);
}
#tap5{
    background-color: rgb(102, 243, 87);
}